.metaMaskButtonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonLogoMeta {
    display: inline-block;
    width: 20px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    background-image: url('../../public/metamask-logo.png'); /* Replace with your logo path */
    background-size: contain;
    background-position: center;
    margin-right: 10px; /* Add spacing between logo and text */
}

.metaMaskButton {
    width:250px;
    background-color: #8884d8;
    color: #000;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 2px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-shadow: 2px 1.5px white;
}

.metaMaskButton:hover {
  color: black;
  background-color: white;
}
