.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 30px;
} 

.artistGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.artistCard {
  background-color: ghostwhite;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer; 
  /* replace with some dump shit */
}

.artistImage {
  max-width: 100%;
  height: auto; 
  margin-bottom: 10px;
}

.artistInfo {
  flex: 1;
  display: f;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.artistFont{
  color: black;
}
